{% extends "layouts/base-fullscreen.html" %}
{% block title %} Atlassian Wiki {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/integrations.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                    <a>Atlassian Wiki configuration</a>
                </div>
                <div class="center-section">
                    <a>Add your Atlassian Wiki configuration</a>
                </div>
                <div class="center-section">
                    <form method="POST" action="/atlassian-wiki">
                        {{ form.hidden_tag() }}
                        <div class="center-section width-500">
                            <label for="name">Name</label>
                            {{ form.name(class="form-control") }}
                            <label for="username">Username</label>
                            {{ form.username(class="form-control") }}
                            <label for="token">Personal access token</label>
                            <div class="input-group">
                                {{ form.token(class="form-control", type="password") }}
                                <span class="input-group-text" id="basic-addon3"><span class="fas fa-unlock-alt"></span></span>
                            </div>
                            <label for="org_url">Wiki organization url</label>
                            {{ form.org_url(class="form-control") }}
                            <label for="parent_id">Wiki parent id</label>
                            {{ form.parent_id(class="form-control") }}
                            <label for="space_key">Wiki space key</label>
                            {{ form.space_key(class="form-control") }}
                            <label for="is_default">Default</label>
                            {{ form.is_default(class="form-control") }}
                            <button class="btn-primary" type="submit">Save</button>
                            {% if atlassian_wiki_config %}
                                <a href="/delete/atlassian-wiki?atlassian_wiki_config={{ atlassian_wiki_config }}" class="btn-secondary">Delete</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
                {% with msgs = get_flashed_messages() %}
                    {% include 'includes/flashed-msg.html' %}
                {% endwith %}
            </div>
        </div>
    </main>
    {% include 'includes/footer.html' %}
{% endblock content %}