<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">

<link type="text/css" href="/static/assets/css/sidebars.css" rel="stylesheet">

</head>

<body>
    <main>

        {% block content %}

        {% include 'includes/sidebar.html' %}

        <div class="section section-md pb-0 bg-info-dark text-white">
            <div class="container">
                <!-- Title -->
                <div class="row justify-content-center">
                    <div class="col d-flex align-items-center justify-content-center">
                        <h2 class="h5">Azure configuration</h2>
                    </div>
                    <span class="font-weight-normal d-flex align-items-center justify-content-center">
                        {% if msg %}
                            {{ msg | safe }}
                        {% else %}
                            Add your Azure configuration
                        {% endif %}                                  
                    </span>
                </div>
                <!-- End of Title -->
            </div>
        </div>

        <!-- Section -->
        <div class="section section-md pt-4 bg-info-dark text-white">
            <div class="container">
                <form method="POST" action="/azure">
                    {{ form.hidden_tag() }}
                    <div class="row mb-4 mb-lg-5 d-flex justify-content-center">
                        <div class="col-lg-4 col-sm-6">
                            <!-- Form -->
                            <div class="mb-4 text-center">
                                <label for="azureName">Name</label>
                                {{ form.azureName(class="form-control") }}
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="mb-3 text-center">
                                <label for="personalAccessToken">Personal Access Token</label>
                                <div class="input-group">
                                    {{ form.personalAccessToken(class="form-control", type="password") }}
                                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-unlock-alt"></span></span>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="mb-4 text-center">
                                <label for="wikiOrganizationUrl">Wiki Organization Url</label>
                                {{ form.wikiOrganizationUrl(class="form-control") }}
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="mb-4 text-center">
                                <label for="wikiProject">Wiki Project</label>
                                {{ form.wikiProject(class="form-control") }}
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="mb-4 text-center">
                                <label for="wikiIdentifier">Wiki Identifier</label>
                                {{ form.wikiIdentifier(class="form-control") }}
                            </div>
                            <!-- End of Form -->

                
            
                            <button class="btn btn-primary" type="submit">Save</button>
                            {% if azureConfig %}
                                <a href="/delete/azure?azureConfig={{ azureConfig }}" class="btn btn-danger">Delete</a>
                            {% endif %}   
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <!-- Form -->
                            <div class="mb-4 text-center">
                                <label for="wikiPathToReport">Wiki Path To Report</label>
                                {{ form.wikiPathToReport(class="form-control") }}
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="mb-4 text-center">
                                <label for="appInsighsLogsServer">App Insighs Logs Server</label>
                                {{ form.appInsighsLogsServer(class="form-control") }}
                            </div>
                            <div class="mb-4 text-center">
                                <label for="appInsighsAppId">App Insighs App Id</label>
                                {{ form.appInsighsAppId(class="form-control") }}
                            </div>
                            <div class="mb-4 text-center">
                                <label for="appInsighsApiKey">App Insighs Api Key</label>
                                {{ form.appInsighsApiKey(class="form-control") }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End of Section -->

    </main>
    
    {% endblock content %}

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}

    {% block javascripts %}{% endblock javascripts %}

</body>
</html>