{% extends "layouts/base-fullscreen.html" %}
{% block title %} Grafana {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/integrations.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                    <a>Grafana configuration</a>
                </div>
                <div class="center-section">
                    <a>Add your Grafana configuration</a>
                </div>
                <div class="center-section">
                    <form method="POST" action="/grafana">
                        {{ form.hidden_tag() }}
                        <div class="center-section width-500">
                            <label for="name">Name</label>
                            {{ form.name(class="form-control") }}
                            <label for="grafanaServer">Grafana server</label>
                            {{ form.grafanaServer(class="form-control") }}
                            <label for="grafanaOrgId">Grafana org ID</label>
                            {{ form.grafanaOrgId(class="form-control") }}
                            <label for="grafanaToken">Token</label>
                            <div class="input-group">
                                {{ form.grafanaToken(class="form-control", type="password") }}
                                <span class="input-group-text" id="basic-addon3"><span class="fas fa-unlock-alt"></span></span>
                            </div>
                            <label for="grafanaDashboard">Grafana dashboard</label>
                            {{ form.grafanaDashboard(class="form-control") }}
                            <label for="grafanaDashRenderPath">grafanaDashRenderPath</label>
                            {{ form.grafanaDashRenderPath(class="form-control") }}
                            <label for="grafanaDashRenderCompPath">grafanaDashRenderCompPath</label>
                            {{ form.grafanaDashRenderCompPath(class="form-control") }}
                            <label for="isDefault">Default</label>
                            {{ form.isDefault }}
                            <button class="btn-primary" type="submit">Save</button>
                            {% if grafanaConfig %}
                                <a href="/delete/grafana?grafanaConfig={{ grafanaConfig }}" class="btn-secondary">Delete</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    {% include 'includes/footer.html' %}
{% endblock content %}