{% extends "layouts/base-fullscreen.html" %}
{% block title %} Grafana {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/integrations.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                    <a>Grafana configuration</a>
                </div>
                <div class="center-section">
                    <a>Add your Grafana configuration</a>
                </div>
                <div class="center-section">
                    <form method="POST" action="/grafana">
                        {{ form.hidden_tag() }}
                        <div class="center-section width-500">
                            <label for="name">Name</label>
                            {{ form.name(class="form-control") }}
                            <label for="server">Grafana server</label>
                            {{ form.server(class="form-control") }}
                            <label for="org_id">Grafana org ID</label>
                            {{ form.org_id(class="form-control") }}
                            <label for="token">Token</label>
                            <div class="input-group">
                                {{ form.token(class="form-control", type="password") }}
                                <span class="input-group-text" id="basic-addon3"><span class="fas fa-unlock-alt"></span></span>
                            </div>
                            <label for="dashboard_id">Grafana dashboard</label>
                            {{ form.dashboard_id(class="form-control") }}
                            <label for="dash_render_path">grafanaDashRenderPath</label>
                            {{ form.dash_render_path(class="form-control") }}
                            <label for="dash_render_comp_path">grafanaDashRenderCompPath</label>
                            {{ form.dash_render_comp_path(class="form-control") }}
                            <label for="is_default">Default</label>
                            {{ form.is_default(class="form-control") }}
                            <button class="btn-primary" type="submit">Save</button>
                            {% if grafana_config %}
                                <a href="/delete/grafana?grafana_config={{ grafana_config }}" class="btn-secondary">Delete</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
                {% with msgs = get_flashed_messages() %}
                    {% if msgs %}
                        {% for msg in msgs %}
                            {% if "ERROR" in msg %}
                                <div class="center-section flash-bad-alert">
                                    <p>{{ msg }}</p>
                                </div>  
                            {% else %}
                                <div class="center-section flash-good-alert">
                                    <p>{{ msg }}</p>
                                </div>  
                            {% endif %}                          
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </main>
    {% include 'includes/footer.html' %}
{% endblock content %}