{% extends "layouts/base-fullscreen.html" %}
{% block title %} InfluxDB {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                    <a>InfluxDB configuration</a>
                </div>
                <div class="center-section">
                    <h3>Add your InfluDB configuration</h3>
                </div>
                <div class="center-section">
                    <form method="POST" action="/influxdb">
                        {{ form.hidden_tag() }}
                        <div class="center-section width-500">
                            <label for="name">Name</label>
                            {{ form.name(class="form-control") }}
                            <label for="influxdbUrl">Url</label>
                            {{ form.influxdbUrl(class="form-control") }}
                            <label for="influxdbOrg">Org</label>
                            {{ form.influxdbOrg(class="form-control") }}
                            <label for="influxdbToken">Token</label>
                            <div class="input-group">
                                {{ form.influxdbToken(class="form-control", type="password") }}
                                <span class="input-group-text" id="basic-addon3"><span class="fas fa-unlock-alt"></span></span>
                            </div>
                            <label for="influxdbTestIdTag">Test Id Tag</label>
                            {{ form.influxdbTestIdTag(class="form-control") }}
                            <label for="influxdbTimeout">Timeout</label>
                            {{ form.influxdbTimeout(class="form-control") }}
                            <label for="influxdbBucket">Bucket</label>
                            {{ form.influxdbBucket(class="form-control") }}
                            <label for="influxdbMeasurement">Measurement</label>
                            {{ form.influxdbMeasurement(class="form-control") }}
                            <label for="influxdbField">Field</label>
                            {{ form.influxdbField(class="form-control") }}
                            <label for="isDefault">Default</label>
                            {{ form.isDefault }}
                            <button class="btn-primary" type="submit">Save</button>
                            {% if influxdbConfig %}
                                <a href="/delete/influxdb?influxdbConfig={{ influxdbConfig }}" class="btn-secondary">Delete</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}