{% extends "layouts/base-fullscreen.html" %}
{% block title %} Integrations {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                    <a>Integrations</a>
                </div>
                <div class="center-section">
                    <div class="tab-pane active" id="tabs-text-1" role="tabpanel"
                        aria-labelledby="tabs-text-1-tab">
                        <div class="center-section">
                            {% for influxdbConfig in influxdbConfigs %}
                            <div class="card">
                                <img src="/static/assets/img/blog/influxdb.jpg" class="rounded-top"
                                    alt="InfluxDB" height="200">
                                <p>{{ influxdbConfig }}</p>
                                <a href="/influxdb?influxdbConfig={{ influxdbConfig }}" class="btn-primary">Configure</a>
                            </div>
                            {% endfor %}
                            <div class="card">
                                <img src="/static/assets/img/blog/influxdb_new.jpg" class="rounded-top"
                                    alt="New" height="245">
                                <a href="/influxdb" class="btn-primary">Add new influxdb</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="tabs-text-2" role="tabpanel"
                        aria-labelledby="tabs-text-2-tab">
                        <div class="center-section">
                            {% for grafanaConfig in grafanaConfigs %}
                            <div class="card">
                                <img src="/static/assets/img/blog/grafana.jpeg" class="rounded-top"
                                    alt="Grafana" height="200">
                                <p>{{ grafanaConfig }}</p>
                                <a href="/grafana?grafanaConfig={{ grafanaConfig }}" class="btn-primary">Configure</a>
                            </div>
                            {% endfor %}
                            <div class="card">
                                <img src="/static/assets/img/blog/influxdb_new.jpg" class="rounded-top"
                                    alt="New" height="245">
                                <a href="/grafana" class="btn-primary">Add new grafana</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="tabs-text-3" role="tabpanel"
                        aria-labelledby="tabs-text-3-tab">
                        <div class="center-section">
                            {% for azureConfig in azureConfigs %}
                            <div class="card">
                                <img src="/static/assets/img/blog/azure.jpg" class="rounded-top"
                                    alt="Azure" height="200">
                                <p>{{ azureConfig }}</p>
                                <a href="/azure?azureConfig={{ azureConfig }}" class="btn-primary">Configure</a>
                            </div>
                            {% endfor %}
                            <div class="card">
                                <img src="/static/assets/img/blog/influxdb_new.jpg" class="rounded-top"
                                    alt="New" height="245">
                                <a href="/azure" class="btn-primary">Add new azure</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}