<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Primary Meta Tags -->
<title>
    Flask and Bootstrap - Presentation | AppSeed
</title>

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">

<link type="text/css" href="/static/assets/css/sidebars.css" rel="stylesheet">

</head>
<body>
    <main>
        
        {% include 'includes/preloader.html' %}

        {% include 'includes/sidebar.html' %}

        <div class="section section-sm p-5 pb-0 mt-n4 ms-12 bg-black">
            <div class="container-0">
                <div class="row justify-content-center">
                    <h3 class="text-center text-white">InfluxDB</h3>
                </div>
            </div>
        </div>

        <!--End of Title section-->
        <div class="section section-md ms-12 bg-info-dark">
            <div class="container">
                <div class="row mb-5">
                    {% for influxdbConfig in influxdbConfigs %}
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 text-md-center">
                        <div class="card shadow">
                            <img src="/static/assets/img/blog/influxdb.jpg" class="card-img-top rounded-top"
                                alt="Themesberg office">
                            <div class="card-body">
                                <h3 class="h5 card-title mt-3">{{ influxdbConfig }}</h3>
                                <p class="card-text">TO DO: Some info about config</p>
                                <a href="/influxdb?influxdbConfig={{ influxdbConfig }}" class="btn btn-primary">Configure</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 text-md-center">
                      <div class="card shadow">
                          <img src="/static/assets/img/blog/influxdb_new.jpg" class="card-img-top rounded-top"
                              alt="Themesberg office">
                          <div class="card-body">
                              <a href="/influxdb" class="btn btn-primary">Add new config</a>
                          </div>
                      </div>
                   </div>
                </div>
            </div>
         </div>


      <div class="section section-sm p-4 pb-0 mt-n5 ms-12 bg-black">
          <div class="container-0">
              <div class="row justify-content-center">
                  <h3 class="text-center text-white">Grafana</h3>
              </div>
          </div>
      </div>

      <!--End of Title section-->
      <div class="section section-md ms-12 bg-info-dark">
          <div class="container">
              <div class="row mb-5">
                  {% for grafanaConfig in grafanaConfigs %}
                  <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 text-md-center">
                      <div class="card shadow">
                          <img src="/static/assets/img/blog/grafana.jpeg" class="card-img-top rounded-top"
                              alt="Themesberg office">
                          <div class="card-body">
                              <h3 class="h5 card-title mt-3">{{ grafanaConfig }}</h3>
                              <p class="card-text">TO DO: Some info about test</p>
                              <a href="/grafana?grafanaConfig={{ grafanaConfig }}" class="btn btn-primary">Configure</a>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
                  <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 text-md-center">
                    <div class="card shadow">
                        <img src="/static/assets/img/blog/influxdb_new.jpg" class="card-img-top rounded-top"
                            alt="Themesberg office">
                        <div class="card-body">
                            <a href="/grafana" class="btn btn-primary">Add new config</a>
                        </div>
                    </div>
                 </div>
              </div>
          </div>
       </div>


    <div class="section section-sm p-4 pb-0 mt-n5 ms-12 bg-black">
        <div class="container-0">
            <div class="row justify-content-center">
                <h3 class="text-center text-white">Azure</h3>
            </div>
        </div>
    </div>

      <!--End of Title section-->
      <div class="section section-md ms-12 bg-info-dark">
        <div class="container">
            <div class="row mb-5">
                {% for azureConfig in azureConfigs %}
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 text-md-center">
                    <div class="card shadow">
                        <img src="/static/assets/img/blog/azure.jpg" class="card-img-top rounded-top"
                            alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3">{{ azureConfig }}</h3>
                            <p class="card-text">TO DO: Some info about test</p>
                            <a href="/azure?azureConfig={{ azureConfig }}" class="btn btn-primary">Configure</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 text-md-center">
                  <div class="card shadow">
                      <img src="/static/assets/img/blog/influxdb_new.jpg" class="card-img-top rounded-top"
                          alt="Themesberg office">
                      <div class="card-body">
                          <a href="/azure" class="btn btn-primary">Add new config</a>
                      </div>
                  </div>
               </div>
            </div>
        </div>
     </div>
            
    </main>

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}

</body>
</html>
