{% extends "layouts/base-fullscreen.html" %}
{% block title %} SMTP Mail {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                </div>
                <div class="center-section">
                    <div class="card mb-3 margin-all-10 width-700" data-component-card="data-component-card">
                        <div class="card-header">
                            <div class="justify-content-between align-items-center">
                            <h4 class="mb-0">Add SMTP Mail integration</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form id="configForm">
                                <div class="center-section">
                                    <label class="input-label mt-2" for="name">Name</label>
                                    <input class="form-control" type="text" id="name" name="name" required>
                            
                                    <label class="input-label mt-2" for="server">Server</label>
                                    <input class="form-control" type="text" id="server" name="server" required>

                                    <label class="input-label mt-2" for="port">Port</label>
                                    <input class="form-control" type="number" id="port" name="port" required>

                                    <label class="input-label mt-2" for="use_ssl">UseSsl</label>
                                    <select class="form-control" id="use_ssl" name="use_ssl">
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select>

                                    <label class="input-label mt-2" for="use_tls">UseTls</label>
                                    <select class="form-control" id="use_tls" name="use_tls">
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select>

                                    <label class="input-label mt-2" for="username">Username</label>
                                    <input class="form-control" type="text" id="username" name="username" required>
                            
                                    <label class="input-label mt-2" for="token">Password</label>
                                    <div class="input-group">
                                        <input class="form-control" type="password" id="token" name="token" required>
                                        <span class="input-group-text" id="basic-addon3"><span class="fas fa-unlock-alt"></span></span>
                                    </div>

                                    <label class="input-label mt-2" for="is_default">Is Default</label>
                                    <select class="form-control" id="is_default" name="is_default">
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                    
                                    <label class="input-label mt-2" for="recipients">Recipients</label>
                                    <div id="recipientContainer">
                                        <input type="text" class="form-control recipientInput" name="recipients[]" required>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary mt-5" type="button" id="addRecipient">Add Recipient</button>
                                        <button class="btn btn-primary mt-5" type="submit">Save</button>
                                        {% if smtp_mail_config %}
                                            <a href="/delete/smtp-mail?smtp_mail_config={{ smtp_mail_config }}" class="btn btn-secondary ms-2 mt-5">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% with msgs = get_flashed_messages() %}
                    {% include 'includes/flashed-msg.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function() {
            // Check if 'config' parameter is present in the URL
            const urlParams = new URLSearchParams(window.location.search);
            const config = urlParams.get('smtp_mail_config');

            if (config) {
                // Load configuration from JSON and display the values
                loadConfig(config);
            }

            // Handle form submission
            $('#configForm').submit(function(event) {
                event.preventDefault();

                // Serialize form data to JSON object
                var configData = {};
                $.each($(this).serializeArray(), function(index, field) {
                    if (field.name === 'recipients[]') {
                        // Handle recipients field as an array
                        if (!configData['recipients']) {
                            configData['recipients'] = [];
                        }
                        configData['recipients'].push(field.value);
                    } else {
                        configData[field.name] = field.value;
                    }
                });

                // Save configuration and send JSON to the backend
                saveConfig(JSON.stringify(configData));
            });

            // Handle adding a new recipient input field
            $('#addRecipient').click(function() {
                var recipientInput = '<div class="flex m10-top">' +
                                        '<input type="text" class="form-control recipientInput" name="recipients[]" required> ' +
                                        '<button type="button" class="btn btn-secondary ms-2 deleteRecipient">Delete</button>' +
                                     '</div>';
                $('#recipientContainer').append(recipientInput);
            });

            // Handle deleting a recipient input field
            $(document).on('click', '.deleteRecipient', function() {
                $(this).parent().remove();
            });

            function saveConfig(configData) {
                // Send the configuration JSON to the backend
                $.ajax({
                    type: 'POST',
                    url: '/smtp-mail',
                    data: configData,
                    contentType: 'application/json',
                    success: function(response) {
                        // alert('Configuration saved successfully!');
                        if (response.includes("smtp_mail_config")) {
                            window.location.replace("/smtp-mail?"+response);
                        }
                    },
                    error: function(error) {
                        // alert('An error occurred while saving the configuration.');
                    }
                });
            }

            function loadConfig(config) {
                // Load the configuration JSON from the backend
                $.ajax({
                    type: 'GET',
                    url: '/smtp-mail-config?smtp_mail_config='+config,
                    contentType: 'application/json',
                    success: function(response) {
                        displayConfig(response);
                    },
                    error: function(error) {
                        // alert('An error occurred while loading the configuration.');
                    }
                });
            }

            function displayConfig(configData) {
                // Set the loaded configuration values in the corresponding input fields
                $('#name').val(configData.name);
                $('#server').val(configData.server);
                $('#port').val(configData.port);
                $('#use_ssl').val(configData.use_ssl);
                $('#use_tls').val(configData.use_tls);
                $('#username').val(configData.username);
                $('#token').val(configData.token);
                $('#is_default').val(configData.is_default);
                // Handle recipients field as an array
                if (configData.recipients && configData.recipients.length > 0) {
                    // Clear existing recipient inputs except the first one
                    $('.recipientInput:not(:first)').remove();
                    // Set the values for the existing and new recipient inputs
                    for (var i = 0; i < configData.recipients.length; i++) {
                        var recipientValue = configData.recipients[i];
                        if (i === 0) {
                            // Set value for the first recipient input
                            $('.recipientInput:first').val(recipientValue);
                        } else {
                            // Create new recipient input fields for the remaining values
                            var recipientInput = '<div class="flex m10-top">' +
                                                    '<input type="text" class="form-control recipientInput" name="recipients[]" value="' + recipientValue + '" required> ' +
                                                    '<button type="button" class="btn-warning deleteRecipient">Delete</button>' +
                                                '</div>';
                            $('#recipientContainer').append(recipientInput);
                        }
                    }
                }
            }
        });
    </script>
    {% include 'includes/footer.html' %}
{% endblock content %}