<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>
    {% block title %}{% endblock %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Easy report">
<meta name="author" content="ushklianik & svetoshkin">
<meta name="description" content="Easy Report is a tool for creating and automating performance testing reports">
<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}
</head>
<body>
    {% block content %}{% endblock content %}
    {% include 'includes/scripts.html' %}
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
</body>
</html>