<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Primary Meta Tags -->
<title>
    Flask and Bootstrap - Presentation | AppSeed
</title>

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">

<link type="text/css" href="/static/assets/css/sidebars.css" rel="stylesheet">

</head>
<body>
    <main>
        
        {% include 'includes/preloader.html' %}
        
        {% include 'includes/sidebar.html' %}

        <div class="section section-sm pb-0 mb-n4">
            <div class="container">
                <div class="row justify-content-center">
                    <h3 class="text-center">Reports</h3>
                </div>
            </div>
        </div>

        <!--End of Title section-->
        <div class="section section-md">
            <div class="container">
                <div class="row mb-5">
                    {% for report in reports %}
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 text-md-center">
                        <div class="card shadow">
                            <img src="/static/assets/img/blog/image-1.jpg" class="card-img-top rounded-top"
                                alt="Themesberg office">
                            <div class="card-body">
                                <h3 class="h5 card-title mt-3">{{ report }}</h3>
                                <p class="card-text">TO DO: Some info about test</p>
                                <a href="/report?reportConfig={{ report }}&project={{ project }}" class="btn btn-primary">Configure</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 text-md-center">
                        <div class="card shadow">
                            <img src="/static/assets/img/blog/image-1.jpg" class="card-img-top rounded-top"
                                alt="Themesberg office">
                            <div class="card-body">
                                <a href="/report?project={{ project }}" class="btn btn-primary">Add new report</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}

</body>
</html>
