{% extends "layouts/base-fullscreen.html" %}
{% block title %} Reports {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        {% include 'includes/preloader.html' %}
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body align-items-center justify-content-center">
                <div class="container pt-5 justify-content-center">
                    <div class="row">
                        <div class="col-lg-11 ms-n8">
                            <h3 class="text-center text-white">Reports</h3>
                        </div>
                    </div>
                </div>
                <!--End of Title section-->
                <div class="container pt-5 justify-content-center">
                    <div class="row mb-5">
                        {% for report in reports %}
                        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 text-md-center">
                            <div class="card shadow">
                                <img src="/static/assets/img/blog/image-1.jpg" class="card-img-top rounded-top"
                                    alt="Themesberg office" height="150">
                                <div class="card-body">
                                    <h3 class="h5 card-title mt-3">{{ report }}</h3>
                                    <p class="card-text">TO DO: Some info about test</p>
                                    <a href="/report?reportConfig={{ report }}" class="btn btn-primary">Configure</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 text-md-center">
                            <div class="card shadow">
                                <img src="/static/assets/img/blog/influxdb_new.jpg" class="card-img-top rounded-top"
                                    alt="Themesberg office" height="245">
                                <div class="card-body">
                                    <a href="/report" class="btn btn-primary">Add new report</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'includes/footer.html' %}
{% endblock content %}