{% extends "layouts/base-fullscreen.html" %}
{% block title %} Reports {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/integrations.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        {% include 'includes/preloader2.html' %}
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                    <a>Report flows</a>
                </div>
                <div class="center-section">
                    {% for report in reports %}
                    <div class="card">
                        <img src="/static/assets/img/reporting.png" class="rounded-top"
                            alt="Report" height="155" width="300">
                            <p>{{ report }}</p>
                            <a>TO DO: Some info about test</a>
                            <a href="/report?reportConfig={{ report }}" class="btn-primary">Configure</a>
                    </div>
                    {% endfor %}
                    <div class="card">
                        <img src="/static/assets/img/blog/influxdb_new.jpg" class="rounded-top"
                            alt="New" height="245">
                        <a href="/report" class="btn-primary">Add new report</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'includes/footer.html' %}
{% endblock content %}