{% extends "layouts/base-fullscreen.html" %}
{% block title %} Home {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body" style="padding: 40px;">
               <h1>Available requests:</h1>
               <table class="table-fill">
                  <thead>
                     <tr>
                        <th class="text-left">Request</th>
                        <th class="text-left">Parameters</th>
                        <th class="text-left">Description</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td class="text-left">/generate-az-report</td>
                        <td class="text-left">
                           user <br/>
                           runId <br/>
                           reportName <br/>
                           baseline_runId (Optional)
                        </td>
                        <td class="text-left">
                           Allows to generate report in Azyre wiki.<br/>
                           Example usage: /generate-az-report?user=user&runId=R002&reportName=demo&baseline_runId=R001
                        </td>
                     </tr>
                     <tr>
                        <td class="text-left">/set-baseline</td>
                        <td class="text-left">
                           user <br/>
                           runId <br/>
                           status <br/>
                           build <br/>
                           testName
                        </td>
                        <td class="text-left">
                           Allows to set test as a baseline in Grafana<br/>
                           Example usage: /set-baseline?user=user&runId=R002&status=baseline&build=RFC001&reportName=demo
                        </td>
                     </tr>
                     <tr>
                        <td class="text-left">/delete-influxdata</td>
                        <td class="text-left">
                           user <br/>
                           runId <br/>
                           status (Available options: delete_test_status, delete_test, delete_timerange) <br/>
                           start <br/>
                           end
                        </td>
                        <td class="text-left">
                           Allows to delete test data from influxdb:<br/>
                           delete_test_status: deletes a comment about the baseline test <br/>
                           delete_test: completely delete all data of the test <br/>
                           delete_timerange: deletes a specific range of test data <br/>
                           Example usage: /delete-influxdata?user=user&runId=R002&status=delete_test_status&start=1675165624760&end=1675165768760
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
        </div>
    </main>
{% endblock content %}