{% extends "layouts/base-fullscreen.html" %}
{% block title %} Azure {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock stylesheets %}
{% block content %}
    <main>
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                    <a>NFR</a>
                </div> 
                <div class="flex-direction-column" id="nfrs-container">
                    <div class="full-screen-section">
                        <div class="marging-10">
                            <label class="col-form-nfr-label">App name:</label>
                        </div>
                        <div class="marging-10">
                            <input name="appName" id="appName" class="form-control-nfr" required>
                        </div>
                    </div>
                    <div class="full-screen-section">
                        <div class="nfr-col-l padding-10">
                            <label class="col-form-nfr-label">Scope:</label>
                            <label class="col-form-nfr-description">You can define the scope to which the NFRs check will be applied.
                                    all: calculates metrics for all requests
                                    each: calculates metrics for each request. 
                                    Also you can specify request/transaction name.
                            </label>
                        </div>
                        <div class="nfr-col-m padding-10">
                            <label class="col-form-nfr-label">Metric:</label>
                            <label class="col-form-nfr-description">What metric should be calculated for the specified scope.</label>
                        </div>
                        <div class="nfr-col-s padding-10">
                            <label class="col-form-nfr-label">Aggregation:</label>
                            <label class="col-form-nfr-description">What aggregation will be used to calculate metric value.</label>
                        </div>
                        <div class="nfr-col-s padding-10">
                            <label class="col-form-nfr-label">Operation:</label>
                            <label class="col-form-nfr-description">What comparison operation will be used to compare metric value with treshold.</label>
                        </div>
                        <div class="nfr-col-m padding-10">
                            <label class="col-form-nfr-label">Threshold:</label>
                            <label class="col-form-nfr-description">Only number should be specified.</label>
                        </div>
                        <div class="nfr-col-l padding-10">
                            <label class="col-form-nfr-label">Weight (optional):</label>
                            <label class="col-form-nfr-description">You can specify which weight belongs to each NFR. This is an optional field. If not specified, all NFS will have the same weight.
                                Only number should be specified.
                                The sum of the total weight in one set should not exceed 100</label>
                        </div>
                    </div>
                </div>
                <div class="full-screen-section">
                    <div id="nfrs-panel">
                        <button onclick="addNfrRow()" class="btn-primary">New row</button>
                        <button onclick="saveNFRs()" class="btn-primary">Save NFRs</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var row = '<div class="full-screen-section nfr-row">'+
                            '<div class="nfr-col-l padding-10">'+
                                '<input name="scope" class="form-control-nfr scope-nfr-field" required>'+
                            '</div>'+
                            '<div class="nfr-col-m padding-10">'+
                                '<select class="form-select-nfr metric-nfr-field" required>'+
                                    '<option value="response-time" selected>response time</option>'+
                                    '<option value="rps">rps</option>'+
                                    '<option value="errors">errors</option>'+
                                '</select>'+
                            '</div>'+
                            '<div class="nfr-col-s padding-10">'+
                                '<select class="form-select-nfr aggregation-nfr-field">'+
                                    '<option value="avg" selected>avg</option>'+
                                    '<option value="median">median</option>'+
                                    '<option value="90%-tile">90%-tile</option>'+
                                    '<option value="95%-tile">95%-tile</option>'+
                                    '<option value="count">count</option>'+
                                    '<option value="sum">sum</option>'+
                                '</select>'+
                            '</div>'+
                            '<div class="nfr-col-s padding-10">'+
                                '<select class="form-select-nfr operation-nfr-field" >'+
                                    '<option value=">" selected>></option>'+
                                    '<option value="<"><</option>'+
                                    '<option value="==">==</option>'+
                                    '<option value="!=">!=</option>'+
                                    '<option value=">=">>=</option>'+
                                    '<option value="<="><=</option>'+
                                '</select>'+
                            '</div>'+
                            '<div class="nfr-col-m padding-10">'+
                                '<input name="threshold" class="form-control-nfr threshold-nfr-field" step="0.001" type="number" required>'+
                            '</div>'+
                            '<div class="nfr-col-l padding-10">'+
                                '<input name="weight" class="form-control-nfr weight-nfr-field" max="100" step="0.001" type="number">'+
                            '</div>'+
                            '<div class="padding-10" style="display: flex;width: 5%;">'+
                                '<button onclick="deleteNfrRow(this)" class="nfr-btn-red" style="align-self: flex-start;">Delete</a>'+
                            '</div>'+
                        '</div>'
            function addNfrRow() {
                var container = document.getElementById("nfrs-container");
                container.insertAdjacentHTML("beforeend", row);
                addListeners()
            } 

            function deleteNfrRow(elem) {
                elem.parentNode.parentNode.remove();
                addListeners()
            }
            
            function saveNFRs(){
                if (checkValidity()){
                    var appName = document.getElementById("appName");
                    var nfrsPanel = document.getElementById("nfrs-panel");
                    var rows = document.getElementsByClassName("nfr-row");
                    var nfrs = {}
                    nfrs["appName"]=appName.value
                    nfrs["rows"] = []
                    for(var i = 0; i < rows.length; i++) {
                        let dict = {}
                        dict["scope"] = rows[i].querySelector('.scope-nfr-field').value
                        dict["metric"] = rows[i].querySelector('.metric-nfr-field').value
                        dict["aggregation"] = rows[i].querySelector('.aggregation-nfr-field').value
                        dict["operation"] = rows[i].querySelector('.operation-nfr-field').value
                        dict["threshold"] = parseInt(rows[i].querySelector('.threshold-nfr-field').value)
                        dict["weight"] = rows[i].querySelector('.weight-nfr-field').value
                        nfrs["rows"].push(dict)
                    }
                    $.ajax({
                        url:'/nfr',
                        type:"POST",
                        data:JSON.stringify(nfrs),
                        contentType:"application/json",
                        success: function(){
                            if(nfrsPanel.querySelector('.status-message') != null){
                                nfrsPanel.querySelector('.status-message').remove();
                            }
                            let elem = '<div class="good-msg status-message">Saved</div>';
                            nfrsPanel.insertAdjacentHTML("beforeend", elem);
                        },
                        error: function () {
                            if(nfrsPanel.querySelector('.status-message') != null){
                                nfrsPanel.querySelector('.status-message').remove();
                            }
                            let elem = '<div class="bad-msg status-message">Not saved</div>';
                            nfrsPanel.insertAdjacentHTML("beforeend", elem);
                        },
                    })
                }
            }

            var nfrsPanel = document.getElementById("nfrs-panel");
            var appName = document.getElementById("appName");
            var nfrsJson = JSON.parse('{{ nfrs | tojson }}');
                if(nfrsJson["status"] != null){
                   if(nfrsJson["status"] == "error"){
                        if(nfrsPanel.querySelector('.status-message') != null){
                            nfrsPanel.querySelector('.status-message').remove();
                        }
                        let elem = '<div class="bad-msg status-message">'+nfrsJson["message"]+'</div>';
                        nfrsPanel.insertAdjacentHTML("beforeend", elem);
                   }
                }
                if(nfrsJson["appName"] != null){
                    appName.value = nfrsJson["appName"]
                    for(var i = 0; i < nfrsJson["rows"].length; i++) {
                        var container = document.getElementById("nfrs-container");
                        var newRow = '<div class="full-screen-section nfr-row">'+
                            '<div class="nfr-col-l padding-10">'+
                                '<input name="scope" value="'+nfrsJson["rows"][i]["scope"]+'" class="form-control-nfr scope-nfr-field" required>'+
                            '</div>'+
                            '<div class="nfr-col-m padding-10">'+
                                '<select class="form-select-nfr metric-nfr-field">'+
                                    '<option value="'+nfrsJson["rows"][i]["metric"]+'" selected>'+nfrsJson["rows"][i]["metric"]+'</option>'+
                                    '<option value="response-time">response time</option>'+
                                    '<option value="rps">rps</option>'+
                                    '<option value="errors">errors</option>'+
                                '</select>'+
                            '</div>'+
                            '<div class="nfr-col-s padding-10">'+
                                '<select class="form-select-nfr aggregation-nfr-field">'+
                                    '<option value="'+nfrsJson["rows"][i]["aggregation"]+'" selected>'+nfrsJson["rows"][i]["aggregation"]+'</option>'+
                                    '<option value="avg">avg</option>'+
                                    '<option value="median">median</option>'+
                                    '<option value="90%-tile">90%-tile</option>'+
                                    '<option value="95%-tile">95%-tile</option>'+
                                    '<option value="count">count</option>'+
                                    '<option value="sum">sum</option>'+
                                '</select>'+
                            '</div>'+
                            '<div class="nfr-col-s padding-10">'+
                                '<select class="form-select-nfr operation-nfr-field" >'+
                                    '<option value="'+nfrsJson["rows"][i]["operation"]+'" selected>'+nfrsJson["rows"][i]["operation"]+'</option>'+
                                    '<option value=">">></option>'+
                                    '<option value="<"><</option>'+
                                    '<option value="==">==</option>'+
                                    '<option value="!=">!=</option>'+
                                    '<option value=">=">>=</option>'+
                                    '<option value="<="><=</option>'+
                                '</select>'+
                            '</div>'+
                            '<div class="nfr-col-m padding-10">'+
                                '<input name="threshold" value="'+nfrsJson["rows"][i]["threshold"]+'"class="form-control-nfr threshold-nfr-field" step="0.001" type="number" required>'+
                            '</div>'+
                            '<div class="nfr-col-m padding-10" style="width: 18%;">'+
                                '<input name="weight" type="number" value="'+nfrsJson["rows"][i]["weight"]+'"class="form-control-nfr weight-nfr-field" max="100" step="0.001">'+
                            '</div>'+
                            '<div class="nfr-col-m padding-10" style="display: flex;width: 10%;">'+
                                '<button onclick="deleteNfrRow(this)" class="nfr-btn-red" style="align-self: flex-start;">Delete</a>'+
                            '</div>'+
                        '</div>'
                        container.insertAdjacentHTML("beforeend", newRow);
                    }
                }
            var nfRows = document.getElementsByClassName("nfr-row");
            if (nfRows.length == 0){
                var container = document.getElementById("nfrs-container");
                container.insertAdjacentHTML("beforeend", row);
            }
            addListeners();
            function addListeners(){
                var inputElements = document.getElementsByClassName('form-control-nfr');
                if (inputElements.length != 0){
                    for(var i = 0; i < inputElements.length; i++) {
                        inputElements[i].addEventListener('change', (e) => {
                            var isValid = e.target.reportValidity();
                            // other code from before
                            e.target.setAttribute('aria-invalid', !isValid);
                        });
                    }
                }
            }
            function checkValidity(){
                var inputElements = document.getElementsByClassName('form-control-nfr');
                var nfrsPanel = document.getElementById("nfrs-panel");
                if (inputElements.length != 0){
                    var weightTotal = 0;
                    for(var i = 0; i < inputElements.length; i++) {
                        var isValid = inputElements[i].reportValidity();
                        // other code from before
                        if (!isValid && inputElements[i].getAttribute('name') == "appName" ){
                            if(nfrsPanel.querySelector('.status-message') != null){
                                nfrsPanel.querySelector('.status-message').remove();
                            }
                            let elem = '<div class="bad-msg status-message">Not saved: Add app name</div>';
                            nfrsPanel.insertAdjacentHTML("beforeend", elem);
                            return false;
                        }
                        if (!isValid && inputElements[i].getAttribute('name') == "scope" ){
                            if(nfrsPanel.querySelector('.status-message') != null){
                                nfrsPanel.querySelector('.status-message').remove();
                            }
                            let elem = '<div class="bad-msg status-message">Not saved: Add scope name</div>';
                            nfrsPanel.insertAdjacentHTML("beforeend", elem);
                            return false;
                        }
                        if (!isValid && inputElements[i].getAttribute('name') == "threshold" ){
                            if(nfrsPanel.querySelector('.status-message') != null){
                                nfrsPanel.querySelector('.status-message').remove();
                            }
                            let elem = '<div class="bad-msg status-message">Not saved: Add thresholds</div>';
                            nfrsPanel.insertAdjacentHTML("beforeend", elem);
                            return false;
                        }
                        if (inputElements[i].getAttribute('name') == "weight" ){
                            weightTotal += parseInt(inputElements[i].value)
                        }
                    }
                    if (weightTotal > 100){
                        if(nfrsPanel.querySelector('.status-message') != null){
                            nfrsPanel.querySelector('.status-message').remove();
                        }
                        let elem = '<div class="bad-msg status-message">Not saved: Sum of weights is more than 100</div>';
                        nfrsPanel.insertAdjacentHTML("beforeend", elem);
                        return false;
                    }
                }else{
                    return false;
                }
                return true;
            }
        </script>
    </main>
{% endblock content %}