{% extends "layouts/base-fullscreen.html" %}
{% block title %} New report {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/nfrs.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/report.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        {% include 'includes/preloader2.html' %}
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                    <a>New report config</a>
                </div>
                <div class="marging-10">
                    <form method="POST" action="/report2">
                        {{ form.hidden_tag() }}
                        <div class="full-screen-section">
                            <div class="col-4">
                                <div class="card-container-fx">
                                    <span class="circle-with-number">1</span>
                                </div>
                                <div>
                                    <label for="reportName">Report name</label>
                                    {{ form.reportName(class="form-control-nfr", style="width:250px") }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-container-fx">
                                    <span class="circle-with-number">2</span>
                                </div>
                                <div>
                                    <label for="influxdbName">Influxdb name</label>
                                    {{ form.influxdbName(class="form-select-nfr", style="width:250px") }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-container-fx">
                                    <span class="circle-with-number">3</span>
                                </div>
                                <div class>
                                    <label for="grafanaName">Grafana name</label>
                                    {{ form.grafanaName(class="form-select-nfr", style="width:250px") }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-container-fx">
                                    <span class="circle-with-number">4</span>
                                </div>
                                <div>
                                    <label for="azureName">Output name</label>
                                    {{ form.azureName(class="form-select-nfr", style="width:250px") }}
                                </div>
                            </div>
                        </div>
                        <div class="full-screen-section" style="margin-top: 30px;">
                            <div class="flex-direction-column col-4">
                                <div class="col-4">
                                    <div class="card-container-fx">
                                        <span class="circle-with-number">5</span>
                                    </div>
                                    <div>
                                        <label>Choose metrics</label>
                                        <input type="search" class="form-control-nfr" id="search"  placeholder="Search" onkeyup='searchFilter()' style="width:250px">
                                        <div id='options' class='d-none'>
                                            <select class="input-form-select" multiple="">
                                                {% for metric in metrics %}
                                                    <option id='metric-item'>{{ metric }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 30px;">
                                    <button class="btn-primary" type="submit" style="width: 70px;">Save</button>
                                    {% if reportConfig %}
                                        <a href="/delete/report?reportConfig={{ reportConfig }}" class="btn-secondary" style="width: 70px;">Delete</a>
                                    {% else %}
                                        <a class="btn-secondary" style="width: 70px;">Delete</a>
                                    {% endif %}   
                                    <button type="button" class="btn-success" data-bs-toggle="modal" data-bs-target="#addnewmetric">
                                        Add metric
                                    </button>
                                </div>
                            </div>
                            <div style="width:60%;display:flex;justify-content: center;">
                                <div id='wrapper' class='wrapper'> 
                                    {% for metric in form.metrics %}
                                        <div class="fade show toast-header mb-2" aria-atomic="true">
                                            <button type="button" class="btn-close-right btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                            {{ metric(class="form-control-metric") }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal fade" id="addnewmetric" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addnewmetricLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="addnewmetricLabel">Add metric</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ formForMerics.hidden_tag() }} 
                                        <label for="viewPanel">View panel</label>
                                        {{ formForMerics.viewPanel(class="form-control") }}  
                                        <label for="dashId">Dashboard Id</label>
                                        {{ formForMerics.dashId(class="form-control") }} 
                                        <label for="fileName">File name</label>
                                        {{ formForMerics.fileName(class="form-control") }} 
                                        <label for="width">Panel width</label>
                                        {{ formForMerics.width(class="form-control") }} 
                                        <label for="height">Panel height</label>
                                        {{ formForMerics.height(class="form-control") }} 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var metrics = document.getElementById('wrapper');
            var search = document.getElementById('search');
            var options = document.getElementById('options');
            var metric = document.querySelectorAll('#metric-item');
            var txtVal, filter;
            var card_id = 0;

            function searchFilter(){
                for(var i = 0; i < metric.length; i++){
                    txtVal = metric[i].innerText;
                    filter = search.value.toUpperCase();
                    if(txtVal.toUpperCase().indexOf(filter) > -1){
                        metric[i].style.display = '';
                    }else{
                        metric[i].style.display = 'none';
                    }    
                }
            }

            search.onclick = function(){
                options.classList.toggle('d-none');
            }

            for (var i = 0; i < metric.length; i++) {
                
                metric[i].onclick = function() {

                    const name = this.innerHTML;
                    id = "metrics-" + card_id;
                    card_id = card_id + 1;
                    
                    const cardElement = "<div class='metric-group' aria-atomic='true'>" +
                                "<button class='btn-close-id btn-close'></button>" +
                                "<input class='metric-element' id='"+id+"' name='"+id+"' type='text' value='"+name+"'>" +
                            "</div>"

                    metrics.insertAdjacentHTML("beforeend", cardElement);

                    const cardName = document.querySelector('.card .details .name');

                    document.getElementById('options').classList.add('d-none');

                    var closeBtn = document.getElementsByClassName('btn-close-id');
                    for(var i = 0; i < closeBtn.length; i++){
                        closeBtn[i].onclick = function(){
                            this.parentElement.remove();
                        }
                    }
                }
            }
        </script>
    </main>
    {% include 'includes/footer.html' %}
{% endblock content %}