{% extends "layouts/base-fullscreen.html" %}
{% block title %} New report {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/nfrs.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        {% include 'includes/preloader2.html' %}
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                    <a>New report config</a>
                </div>
                <div class="full-screen-section">
                    <div class="container">
                        <form method="POST" action="/report">
                            {{ form.hidden_tag() }}
                            <div class="col-lg-4 col-sm-6">
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="reportName">Report name</label>
                                    {{ form.reportName(class="form-control-nfr") }}
                                </div>
                                <!-- End of Form -->
                            </div>
                            <div class="row mb-4 mb-lg-5">
                                <div class="col-lg-4 col-sm-6">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="influxdbName">Influxdb name</label>
                                        {{ form.influxdbName(class="form-select-nfr") }}
                                    </div>
                                    <!-- End of Form -->
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="grafanaName">Grafana name</label>
                                        {{ form.grafanaName(class="form-select-nfr") }}
                                    </div>
                                    <!-- End of Form -->
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="azureName">Azure name</label>
                                        {{ form.azureName(class="form-select-nfr") }}
                                    </div>
                                    <!-- End of Form -->
                                </div>
                            </div>
                            <div class="input-group mb-2 search-metric">
                                <span class="input-group-text" id="basic-addon1"><span class="fas fa-search"></span></span>
                                <input type="text" class="form-control" id="search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" onkeyup='searchFilter()'>
                            </div>
                            <div id='options' class='search-container d-none form-control-metric'>
                                <select class="form-select" multiple="">
                                    {% for metric in metrics %}
                                        <option class='each-search name'>{{ metric }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id='wrapper' class='wrapper'> 
                                {% for metric in form.metrics %}
                                    <div class="toast fade show toast-header mb-2" aria-atomic="true">
                                        <button type="button" class="btn-close-right btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                        {{ metric(class="form-control-metric") }}
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary" type="submit">Save</button>
                            {% if reportConfig %}
                                <a href="/delete/report?reportConfig={{ reportConfig }}" class="btn btn-danger">Delete</a>
                            {% else %}
                                <a class="btn btn-gray">Delete</a>
                            {% endif %}   
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addnewmetric">
                                Add new metric
                            </button>
                        </form>
                        <!-- Modal -->
                        <div class="modal fade" id="addnewmetric" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addnewmetricLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="addnewmetricLabel">Add metric</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="POST" action="/new-metric">
                                        <div class="modal-body">
                                            {{ formForMerics.hidden_tag() }} 
                                                <label for="viewPanel">View panel</label>
                                                {{ formForMerics.viewPanel(class="form-control") }}  
                                                <label for="dashId">Dashboard Id</label>
                                                {{ formForMerics.dashId(class="form-control") }} 
                                                <label for="fileName">File name</label>
                                                {{ formForMerics.fileName(class="form-control") }} 
                                                <label for="width">Panel width</label>
                                                {{ formForMerics.width(class="form-control") }} 
                                                <label for="height">Panel height</label>
                                                {{ formForMerics.height(class="form-control") }} 
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button class="btn btn-primary" type="submit">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var wrapper = document.getElementById('wrapper');
            var search = document.getElementById('search');
            var options = document.getElementById('options');
            var metric = document.querySelectorAll('.each-search');
            var txtVal, filter;
            var card_id = 0;

            function searchFilter(){
                for(var i = 0; i < metric.length; i++){
                    txtVal = metric[i].innerText;
                    filter = search.value.toUpperCase();
                    if(txtVal.toUpperCase().indexOf(filter) > -1){
                        metric[i].style.display = '';
                    }else{
                        metric[i].style.display = 'none';
                    }    
                }
            }

            search.onclick = function(){
                options.classList.toggle('d-none');
            }

            for (var i = 0; i < metric.length; i++) {
                
                metric[i].onclick = function() {

                    const name = this.innerHTML;
                    id = "metrics-" + card_id;
                    card_id = card_id + 1;
                    
                    const cardElement = "<div class='toast fade show toast-header mb-2' aria-atomic='true'>" +
                                "<button type='button' class='btn-close-right btn-close' data-bs-dismiss='toast' aria-label='Close'></button>" +
                                "<input class='form-control-metric' id='"+id+"' name='"+id+"' type='text' value='"+name+"'>" +
                            "</div>"

                    wrapper.insertAdjacentHTML("beforeend", cardElement);

                    const cardName = document.querySelector('.card .details .name');

                    document.getElementById('options').classList.add('d-none');

                    var closeBtn = document.getElementsByClassName('btn-close-right');
                    for(var i = 0; i < closeBtn.length; i++){
                        closeBtn[i].onclick = function(){
                            this.parentElement.remove();
                        }
                    }
                }
            }
        </script>
    </main>
    {% include 'includes/footer.html' %}
{% endblock content %}