{% extends "layouts/base-fullscreen.html" %}
{% block title %} Azure {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/table.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="d-flex justify-content-start BasicLayout__header">
                    <a class="text-white fw-bold footer-logo-text my-sm ms-2">Test log</a>
                </div>      
                <table id="data" class="table table-striped container rounded-bottom">
                    <thead>
                    <tr>
                        <th>runId</th>
                        <th>testName</th>
                        <th>duration</th>
                        <th>maxThreads</th>
                        <th>startTime</th>
                        <th>endTime</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for test in tests %}
                        <tr>
                        <td>{{ test.runId }}</td>
                        <td>{{ test.testName }}</td>
                        <td>{{ test.duration }}</td>
                        <td>{{ test.maxThreads }}</td>
                        <td>{{ test.startTime }}</td>
                        <td>{{ test.endTime }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
        <script>
            $(document).ready(function () {
              $('#data').DataTable({
                columns: [
                  {orderable: true},
                  {orderable: true},
                  {orderable: true},
                  {orderable: true},
                  {orderable: true},
                  {orderable: true}
                ]
              });
            });
          </script>
    </main>
    {% include 'includes/footer.html' %}
{% endblock content %}