{% extends "layouts/base-fullscreen.html" %}
{% block title %} PerForge {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/nfrs.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                </div>
                <div class="card mb-3 margin-all-10" data-component-card="data-component-card">
                    <div class="card-header">
                      <div class="justify-content-between align-items-center">
                        <h4 class="mb-0">Test log</h4>
                      </div>
                    </div>
                    <div class="card-body">
                        <div id="table-id">
                            <div class="d-flex align-items-center justify-content-end mb-3">
                                <div class="d-flex" id="bulk-select-actions">
                                    <div>
                                        <div class="search-box position-relative" data-bs-toggle="search" data-bs-display="static">
                                            <input class="form-control search-input search" type="search" placeholder="Search" aria-label="Search" />
                                            <span class="fas fa-search search-box-icon"></span>
                                        </div>
                                    </div>
                                    <select class="form-select ms-2" id="selectedAction">
                                        <option selected="selected">Choose action</option>
                                        <option value="azure_report">Azure report</option>
                                        <option value="atlassian_wiki_report">Atlassian wiki report</option>
                                        <option value="atlassian_jira_report">Atlassian jira report</option>
                                        <option value="delete">Delete</option>
                                    </select>
                                    <select class="form-select ms-2" id="templateName">
                                        <option selected="selected">Choose template</option>
                                        {% for template in templates %}
                                                <option value="{{ template }}">{{ template }}</option>
                                        {% endfor %}
                                    </select>
                                    <select class="form-select ms-2" id="influxdbName">
                                        {% for influxdb in influxdb_names %}
                                                <option value="{{ influxdb }}">{{ influxdb }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="btn btn-primary ms-2" data-selected-rows="data-selected-rows" style="min-width: 86px;">
                                        <span id="spinner-apply" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                                        <div id="spinner-apply-text">Apply</div>
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table fs--1 mb-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="form-check mb-0 fs-0">
                                                    <input class="form-check-input" id="bulk-select-example" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}'/>
                                                </div>
                                            </th>
                                            <th class="sort" data-sort="runId">Run Id</th>
                                            <th class="sort" data-sort="testName">Report flow</th>
                                            <th class="sort" data-sort="duration">Duration</th>
                                            <th class="sort" data-sort="maxThreads">Uesrs</th>
                                            <th class="sort" data-sort="startTime">Start time</th>
                                            <th class="sort" data-sort="endTime">End time</th>
                                            <th class="sort" data-sort="actions">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list" id="bulk-select-body">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-between mt-3 fs--1">
                                <span data-list-info="data-list-info"></span>
                                <div class="d-flex">
                                    <button class="page-link" data-list-pagination="prev">
                                        <span class="fas fa-chevron-left"></span>
                                    </button>
                                    <ul class="mb-0 pagination"></ul>
                                    <button class="page-link pe-0" data-list-pagination="next">
                                        <span class="fas fa-chevron-right"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="center-section" id="spinner">
                                <div class="spinner-border text-info" role="status"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% with msgs = get_flashed_messages() %}
                    {% include 'includes/flashed-msg.html' %}
                {% endwith %}
            </div>
        </div>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function(){
                var influxdb_name = $("#influxdbName").val();
                perforge.utils
                    .sendGetRequest('/load_tests?influxdb_name=' + influxdb_name)
                    .then((data) => {
                        if(data.status === 'success'){
                            updateTable(data.tests);
                        }else{
                            const badmsg = document.getElementById("bad-msg");
                            badmsg.style.display = "flex";
                            const msg = badmsg.querySelector("#msg");
                            msg.textContent = data.message;
                        }
                        $("#spinner").hide();
                    })
                    .catch((error) => {
                        const badmsg = document.getElementById("bad-msg");
                        badmsg.style.display = "flex";
                        const msg = badmsg.querySelector("#msg");
                        msg.textContent = error;
                        $("#spinner").hide();
                    });
    
                function updateTable(tests){
                    $("#table-id").attr('data-list', '{"valueNames":["runId", "testName", "duration", "maxThreads", "startTime", "endTime"], "page": 5, "pagination": true}');

                    var tableBody = $("#bulk-select-body");
                    tableBody.empty();

                    tests.forEach(function(test){
                        tableBody.append(
                            `<tr>
                                <td>
                                    <div class="form-check fs-0">
                                        <input class="form-check-input" type="checkbox" data-bulk-select-row="{'runId':${test.runId},'testName':${test.testName},'duration':${test.duration},'maxThreads':${test.maxThreads},'startTime':${test.startTime},'endTime':${test.endTime}}" />
                                    </div>
                                </td>
                                <td class="runId">${test.runId}</td>
                                <td class="testName">${test.testName}</td>
                                <td class="duration">${test.duration}</td>
                                <td class="maxThreads">${test.maxThreads}</td>
                                <td class="startTime">${test.startTime}</td>
                                <td class="endTime">${test.endTime}</td>
                                <td class="actions">
                                    <a class="btn btn-danger" href="/grafana-result-dashboard?runId=${test.runId}&testName=${test.testName}&startTimestamp=${test.startTimestamp}&endTimestamp=${test.endTimestamp}">Grafana dashboard</a>
                                </td>
                            </tr>`
                        );
                    });
                    perforge.utils.listInit();
                }
            });
        </script>
    </main>
    {% include 'includes/footer.html' %}
{% endblock content %}