.nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav-link {
    padding: 10px 100px 10px 100px;
    color: var(--bs-white);
    background-color: rgb(47, 46, 46);
    border-radius: 16px;
    border: 1px solid var(--bs-white);}
    .nav-link.active {
        color: var(--bs-black);
        background-color: var(--bs-white);
}

.tab-pane {
    display: none; }
    .tab-pane.active {
        display: block; }

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    color: var(--bs-white);
    margin: 5px;
    border: 0.0625rem solid #E5E7EB;
    border-radius: 16px; 
}

.rounded-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px; 
}

ul {
    padding-inline-start: 0px;
}

.width-500 {
    width: 500px;
}