@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box; }

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-tertiary: #1d58a5;
    --bs-primary-app: #EBF4F6;
    --bs-secondary-app: #424AA0;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-white: #ffffff;
    --bs-light: #f8f9fa;
    --bs-gray: #343a40;
    --bs-dark: #313131;
    --bs-black: #000;
    --bs-purple: #6f42c1;
    --bs-orange: #e84422;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-font-sans-serif: "Nunito Sans", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: radial-gradient(circle at -10% -10%, rgb(37, 35, 40) 0.5%, rgb(30, 30, 30) 90%);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600; }

a {
  color: var(--bs-white);
  font-weight: 400;
  transition: all 0.2s ease;
  text-decoration: none; }
  a:hover {
    color: var(--bs-gray-100);
    cursor: pointer; }

body{
    margin: 0;
    color: var(--bs-white);
    font-family: var(--bs-font-sans-serif);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0px;
    background-color: var(--bs-dark);
    text-align: center;
}

img {
    max-width: 100%;
}

.main-background {
    height: auto;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background: var(--bs-gradient);
}

.sidebar{
    height: 100%;
    width: 170px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: var(--bs-dark);
}

.main-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 170px;
}

.main-body-header {
    border-bottom: 1px solid var(--bs-gray);
    padding: 16px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.2);
}

.full-screen-section {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.center-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.card-container-fl {
    flex: 1;
    min-width: 16%;
    margin-right: 5px;
    margin-left: 5px;
    background: rgb(47, 46, 46);
}

.card-container-fx {
    flex: 0;
    margin-right: 5px;
    margin-left: 5px;
    background: rgb(47, 46, 46);
}

.flex-direction-column {
    flex-direction: column;
}

.grey-text-color {
    color: darkgrey;
}

.table-container {

}

.signin-inner {
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 500px;
    padding: 35px;
    border: 1px solid var(--bs-white);
    border-radius: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.15);
}

.btn-primary {
    margin: 10px;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
    color: var(--bs-white);
    background-color: var(--bs-tertiary);
    border-color: #242e4c;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.075); }
    .btn-primary:hover {
        color: var(--bs-white);
        background-color: var(--bs-cyan);
        border-color: var(--bs-dark); 
}

.btn-secondary {
    margin: 10px;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
    color: var(--bs-white);
    background-color: var(--bs-danger);
    border-color: var(--bs-dark);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.075); }
    .btn-secondary:hover {
        color: var(--bs-white);
        background-color: var(--bs-orange);
        border-color: var(--bs-dark); }