.text-row {
    margin: 15px 0;
    display: flex;
}

.text-row > * {
    padding-left: 15px;
    padding-right: 15px;
}

.max-width-99 {
    max-width: 99%;
}

li, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.box {
    border-radius: 3px;
    height: 100%;
    padding: 15px 6px 15px 15px;
}

.box .count {
    font-size: 2.0em;
    line-height: 1em;
}

.box .units {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.0em;
    margin-left: 5px;
}

.box .box-kpi {
    color: #e0e0e09f;
    font-size: 0.9em;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box.hits {
    border-bottom: 4px solid #2a854e;
    color: #2a854e;
}

.box[role=button] {
    cursor: auto;
}

.box.errors {
    border-bottom: 4px solid #de1b1b;
    color: #de1b1b;
    cursor: pointer;
}

.box.avg-response-time, .box.response-time {
    border-bottom: 4px solid #f6c41a;
    color: #f6c41a;
}

.box.bytes {
    border-bottom: 4px solid #ad77d4;
    color: #ad77d4;
}

.box.users {
    border-bottom: 4px solid #3272d9;
    color: #3272d9;
}


.config-icon {
    color: #58606e;
    display: inline-block;
    font-size: 1.25em;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}

.text-row-key {
    color: #ffffff;
    font-size: 1.1em;
    flex: 0 0 auto;
    width: 33.33333%;
}

.text-row-value {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.0em;
    flex: 0 0 auto;
    width: 66.66667%;
}


.summary-tagging {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-top: 15px;
    width: 100%;
}


.save-note-box {
    margin-bottom: 5px;
    margin-top: 17px;
}

textarea {
    overflow: auto;
    resize: vertical;
}

textarea {
    writing-mode: horizontal-tb !important;
    font-family: monospace;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: field;
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
}


.test-details-block {
    flex: 1;
    max-width: 30%;
    background: rgb(47, 46, 46);
}

.nfr-block {
    flex: 1;
    background: rgb(47, 46, 46);
}

.marging-left {
    margin-left: 10px;
}

.nfr-result {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.0em;
    display: flex;
    justify-content: flex-end;
    width: 15%; 
}

.nfr-msg {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.0em;
    width: 85%;
}

.charts-row {
    display: flex;
}

#apdex-block,
#apdex-chart {
  border-radius: 30px;
  width: 250px;
  height: 250px;
  font-family: Arial;
  position: relative;
}

#apdex-block {
    flex: 0 0 250px;
    height: 250px;
    order: 2;
}

#apdex-label {
    width: 90px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    transform: translateY(-50%);
}

#apdex-label p {
  line-height: 0.3;
  padding:0;
  margin: 8px;
}

#apdex-label p.apdex_value {
  line-height: 0.5;
  font-size: 20pt;
  color: #8e8e8e;
}

#apdex-label p.apdex_title {
  line-height: 0.5;
  font-size: 12pt;
  color: #cdcdcd;
}

/* flow config page */

.circle-with-number {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #1d58a5;
    font-size: 18px;
    margin-right: 16px;
}

.col-4 {
    display: flex;
    flex: 0 0 auto;
    width: 25%; 
}

.input-search-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    border-radius: 1rem;
    transition: all 0.2s ease;
}

.input-search-group > .form-control, .input-search-group > .form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-search-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu), .input-search-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-search-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -0.0625rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.d-none {
    display: none !important;
}

.input-form-select {
    width: 100%;
    padding: 0.55rem 1rem 0.55rem 0.75rem;
    color: #ffffff;
    background-color: #383838;
    appearance: none;
}

.graph-group {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    color: #cfcfcf;
    background-color: #383838;
    width: 350px;
    border-radius: 1rem;
    margin-bottom: 10px;
}

.graph-element {
    width: 100%;
    padding: 0.75rem 0.75rem;
    line-height: 0;
    text-align: center;
    color: #cfcfcf;
    background-color: #383838;
    border: 0rem;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.fade {
    transition: opacity 0.15s linear;
}

.modal.show .modal-dialog {
    transform: none;
}
.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
}

.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal-content {
    border: 0;
    border-radius: 0.3rem;
}

.modal-content {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0.0625rem solid rgba(23, 31, 56, 0.2);
    border-radius: 0.3rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
    outline: 0;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 0.0625rem solid #E5E7EB;
    border-top-left-radius: 0.2375rem;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 0.0625rem solid #E5E7EB;
    border-bottom-right-radius: 0.2375rem;
    border-bottom-left-radius: 0.2375rem;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}