{% extends "layouts/base-fullscreen.html" %}
{% block title %} Sign UP {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        <!-- Section -->
        <div class="main-background flex-center-center">
            <div class="signin-inner">
                <h1>PerForge</h1>
                <br />
                <h2>Register</h2>
                <br />
                <form method="post">
                    {{ form.hidden_tag() }}
                    <h4>Username</h4>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                            <span class="fas fa-user"></span>
                        </span>
                        {{ form.username(class="form-control") }}
                    </div>
                    <br />
                    <h4>Email</h4>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">
                            <span class="fas fa-envelope"></span>
                        </span>
                        {{ form.email(class="form-control", type="email") }}
                    </div>
                    <br />
                    <h4>Password</h4>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon4">
                            <span class="fas fa-unlock-alt"></span>
                        </span>
                        {{ form.password(class="form-control", type="password") }}
                    </div>
                    <br />
                    <div class="d-grid">
                        <button type="submit" name="register" class="btn btn-primary">Sign UP</button>
                    </div>
                    <br />
                    <a href="{{ url_for('login') }}">Login</a>
                </form>
                <br />
                <h4>&copy; Coded by ushklianik & svetoshkin</h4>
            </div>
            {% with msgs = get_flashed_messages() %}
                    {% if msgs %}
                        {% for msg in msgs %}
                            {% if "ERROR" in msg %}
                                <div class="center-section flash-bad-alert">
                                    <p>{{ msg }}</p>
                                </div>  
                            {% else %}
                                <div class="center-section flash-good-alert">
                                    <p>{{ msg }}</p>
                                </div>  
                            {% endif %}                          
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        </div>
    </main>
{% endblock content %}