    <footer class="footer bg-gray text-center text-white pb-sm-0">
        <div class="text-center p-3">
            <section class="mb-3">
                <div class="d-flex justify-content-center mb-1">
                    <img src="/static/assets/img/themesberg.svg" height="30" class="me-2" alt="Themesberg Logo">
                    <p class="text-white fw-bold footer-logo-text m-0">Easy Report</p>
                </div>
            </section>
            <section class="mb-3">
                <p>
                Easy Report is a tool that will help you create and automate performance reports.
                </p>
            </section>
            <section class="mb-1">
                <a class="btn btn-dark btn-floating m-0" style="background-color: #333333" href="https://github.com/ushklianik/reporter" target="_blank" role="button">
                    <i class="fab fa-github"></i>
                </a>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 Copyright: ushklianik & svetoshkin
        </div>
    </footer>