<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<div class="sidebar">
    <div class="sidebar-header">
        <img src="/static/assets/img/logo.png" height="25" alt="Easy Report">
        <a type="button" href="/">Easy Report</a>
    </div>
    <a class="btn-sidebar" type="button" href="/">
        <span class="fas fa-home"></span> Home
    </a>
    <a class="btn-sidebar" type="button" href="/tests">
        <span class="fas fa-tachometer-alt"></span> Tests
    </a>
    <a class="btn-sidebar" type="button" href="/all-reports">
        <span class="fas fa-book-open"></span> Report flows
    </a>
    <a class="btn-sidebar" type="button" href="/integrations">
        <span class="far fa-sun"></span> Integrations
    </a>
    <a class="btn-sidebar" type="button" href="/nfrs">
        <span class="far fa-check-circle"></span> NFRs
    </a>
    <a type="button" class="btn-sidebar-small" href="#n">
        <span class="far fa-user-circle"></span> Profile
    </a>
    <button type="button" class="btn-sidebar-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fas fa-angle-down"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">New project...</a>
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="/login">Sign out</a>
    </div>
    <div class="fixed-bottom">
        <a id = "projects-dropdown" data-bs-toggle="dropdown"></a>
        <div id="projects-list" class="dropdown-menu">
            <a class="dropdown-item" href="#">New project</a>
        </div>
    </div>
</div>
<script>
    var wrapper = document.getElementById('projects-list');

    $.get('/get-projects')
    .done(function(response) {
        var arrayLength = response['projects'].length;
        for (var i = 0; i < arrayLength; i++) {
            const projectElement = '<a class="dropdown-item rounded-top rounded-bottom" href="/set-project?project='+response['projects'][i]+'">'+response['projects'][i]+'</a>'
            wrapper.insertAdjacentHTML("afterbegin", projectElement);
        }
    }).fail(function() {
        const projectElement = '<a class="dropdown-item rounded-top rounded-bottom">Could not contact server.</a>'
        wrapper.insertAdjacentHTML("afterbegin", projectElement);
    });

    var currentProject = document.getElementById('projects-dropdown');

    if (getCookie("project") === undefined){
        setCookie("project", "default")
        currentProject.textContent += "default";
    }else{
        currentProject.textContent += getCookie("project")
    }

    function getCookie(cookieName) {
    let cookie = {};
    document.cookie.split(';').forEach(function(el) {
        let [key,value] = el.split('=');
        cookie[key.trim()] = value;
    })
    return cookie[cookieName];
    }
    function setCookie(cname, cvalue) {
        document.cookie = cname + "=" + cvalue;
    }
</script>